
/* Style for card container */
.card[b-rmguyft6rr] {
    display: flex;
    flex-direction: column;
    background-color: #D6D5D5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
    max-width: 100%;
}

/* Style for card header */
.card-header[b-rmguyft6rr] {
    background-color: #03173E;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/* Style for post info */
.postInfo[b-rmguyft6rr] {
    display: block;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.postInfo p[b-rmguyft6rr] {
    margin: 0;
}

/* Style for post description */
.description[b-rmguyft6rr] {
    padding: 10px;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.description p[b-rmguyft6rr] {
    margin-bottom: 10px;
}
