h1[b-6gblk87mqa], p[b-6gblk87mqa]{
    font-weight: bolder;
    color: #1B5690;
    font-family: "Monotype Corsiva",'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 60px;
}
p[b-6gblk87mqa]{
    font-size: 25px;
}

#home[b-6gblk87mqa]{
 text-align: center;
}

.container[b-6gblk87mqa]{
    margin-top: 80px;
}