@page "/"

<PageTitle>Index</PageTitle>

<div id="home">
    <h1>The Conversation Cafe</h1>
    <p>"Join the discussion and make your voice heard."</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <img src="img/background.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>
