@inherits LayoutComponentBase

<PageTitle>Forum</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/RegisterUser">Register</a>
            <a href="/Login">Login</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>